{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row section">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Entrar" class="btn right">
      <input type="hidden" name="next" value="{{ next }}">
      {% comment %} <button class="btn-flat left" onclick="window.location.href='{% url 'password_reset' %}'">Esqueci minha senha</button> {% endcomment %}
      {% comment %} <button class="btn-flat left" style="margin-left: 10px;" onclick="window.location.href='{% url 'register' %}'">Registrar-se</button> {% endcomment %}
      {% comment %} <button class="btn-flat left" style="margin-left: 10px;" onclick="window.location.href=''">Voltar ao Início</button> {% endcomment %}
      <a href="{% url 'home' %}" class="btn left">Voltar ao Início</a>
    </form>
  </div>
</div>
{% endblock content %}