{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h5>{% if object %}Editar Cliente:{% else %}Novo Cliente:{% endif %}</h5>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{ form|crispy }}
    <div class="file-field input-field">
        <div class="btn">
            <span>Certificados</span>
            <input type="file" name="certificados" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload de um ou mais certificados">
        </div>
    </div>
    <button class="btn" type="submit">Salvar</button>
    {% if object %}
        <a href="{% url 'cliente_delete' object.pk %}" class="btn right red lighten-1">Excluir</a>
    {% endif %}
    <a href="{% url 'cliente_list' %}" class="btn right red lighten-1">Cancelar</a>
</form>

{% if object and object.certificados.exists %}
    <h5>Certificados:</h5>
    <ul>
        {% for certificado in object.certificados.all %}
            <li>
                <a href="{{ certificado.arquivo.url }}" download>{{ certificado.arquivo.name }}</a>
                <form method="post" action="{% url 'certificado_delete' certificado.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn red">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}