{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col l8 m8">
      <form method="post" action="{% url 'ticket_detail' object.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="card-content">
          <i class="small material-icons">folder</i>
          <input type="file" name="arquivos" id="id_arquivos" multiple>

          <i class="small material-icons">image</i>
          <input type="file" name="imagens" id="id_imagens" multiple accept="image/*">

          <button class="btn blue right" type="submit">Salvar</button>
        </div>
      </form>
      
      {% for comment in comments %}
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col l12">
              <b>Em:</b> {{ comment.criado_em|date:"d/m/y à\s H:i" }}</br>
              <b>Por:</b> {{ comment.autor.username|default:" " }}</br>
              {% if comment.proximo_contato %}
                <b>Próximo Contato</b> {{ comment.proximo_contato|date:"d/m/y à\s H:i"|default:" " }}</br>
              {% endif %}
              {% if comment.tipo %}
                <b>Ação:</b> {{ comment.tipo|default:" " }}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col l12">
              {{ comment.texto|linebreaksbr }}
            </div>
          </div>
          {% if comment.imagens.all %}
            <div class="row">
              <div class="col l12">
                <p><b>Imagens:</b></p>
                <div class="row">
                  {% for imagem in comment.imagens.all %}
                    <div class="col l4 m6 s12">
                      <div class="card">
                        <div class="card-image">
                          <!-- Aqui está a pré-visualização -->
                          <img src="{{ imagem.imagem.url }}" class="responsive-img materialboxed">
                          <div class="card">
                            <a href="{{ imagem.imagem.url }}" download class="btn blue left">📥 Baixar</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          {% if comment.arquivos.all %}
            <div class="card-image">
              <div class="col l12 m4 s12">
                <p><b>Arquivos:</b></p>
                <div class="row">
                  {% for arquivo in comment.arquivos.all %}
                    <div class="card-content">
                      {{ arquivo.arquivo.url }}
                      <div class="card">
                        <a href="{{ arquivo.arquivo.url }}" download class="btn blue left">📥 Baixar</a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          <div class="row">
            <div class="col l12">
              <a href="{% url 'excluir_comentario' comment.id %}" class="btn red right"
              onclick="return confirm('Tem certeza que deseja excluir este comentário?');">🗑 Excluir</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col l4 m4 z-depth-1">
      <h5 >Detalhes:</h5>
      
      <h5 class="center-align" style="font-weight: bold; 
        {% if object.get_status_display == 'Em atendimento' %} color: orange; 
        {% elif object.get_status_display == 'Aberto' %} color: red; 
        {% elif object.get_status_display == 'Encerrado' %} color: green; 
        {% elif object.get_status_display == 'Cancelado' %} color: gray; 
        {% endif %}">
        {{ object.get_status_display }}
      </h5>

      <p><b>Número: </b>{{ object.id }}</p>
      <p><b>Título: </b>{{ object.titulo|default_if_none:" "  }}</p>
      <p><b>Atendente: </b>{{ object.atendente|default_if_none:" "  }}</p>
      <p><b>Cliente: </b>{{ object.cliente }}</p>
      <p><b>Uid: </b>{{ client.uid|default_if_none:" "  }}</p>
      <p><b>Responsável: </b>{{ object.responsavel|default_if_none:" " }}</p>
      <p><b>Criado em: </b>{{ object.criado_em|date:"d/m/y à\s H:i" }}</p>
      {% if object.iniciado_em %}
        <p><b>Iniciado em: </b>{{ object.iniciado_em|date:"d/m/y à\s H:i"|default:" " }}</p>
      {% endif %}
      {% if object.encerrado_em %}
        <p><b>Encerrado em: </b>{{ object.encerrado_em|date:"d/m/y à\s H:i"|default:" " }}</p>
      {% endif %}
      <p><b>Idade: </b>{{ object.criado_em|timesince:object.encerrado_em }}</p>
      <p><b>Situação: </b>{{ object.situacao|default_if_none:" "  }}</p>
      <p><b>Tipo: </b>{{ object.tipo }}</p>
      <p><b>Prioridade: </b>{{ object.prioridade }}</p>
      {% if object.cancelado %}
        <p><b>Cancelado por: </b>{{ object.cancelado|default_if_none:" " }}</p>
      {% endif %}
      {% if object.cancelado_em %}
        <p><b>Cancelado em: </b>{{ object.cancelado_em|date:"d/m/y à\s H:i"|default:" " }}</p>
      {% endif %}
      {% if solucoes %}
        <h5>Solução:</h5>
        {% for solucao in solucoes %}
          <p><b>Autor: </b>{{ solucao.autor }}</p>
          <p><b>Data: </b>{{ solucao.criado_em|date:"d/m/y à\s H:i" }}</p>
          <p><b>Descrição: </b>{{ solucao.texto }}</p>
          <div class="divider"></div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red {% if object.encerrado_em or object.cancelado %} disabled {% endif %}" href="{% url 'ticket_update' object.id %}"><i class="material-icons large">edit</i></a>
      <ul>
        {% if not object.cancelado and not object.encerrado_em%}
          <li><a class="btn-floating teal" href="{% url 'ticket_cancel' object.id %}"><i class="material-icons"
            onclick="return confirm('Tem certeza que deseja cancelar este ticket?');">cancel</i></a></li>
        {% endif %}
        {% if not object.cancelado and not object.iniciado_em %}
          <li><a class="btn-floating teal" href="{% url 'ticket_accept' object.id %}"><i class="material-icons">playlist_add</i></a></li>
        {% endif %}
        {% if object.responsavel and not object.encerrado_em and not object.cancelado and object.iniciado_em  %}
          <li><a class="btn-floating teal" href="{% url 'ticket_close' object.id %}"><i class="material-icons">check</i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock content %}
