{% extends 'base.html' %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <form method="get">

    <div class="row">
      {% if request.path != '/ticket/my/' %}
      <div class="col s12 m6">
        <h6><strong>Tickets: {{ filtered_count }}</strong></h6>
        <input type="text" name="q"
               placeholder="Pesquisar por título ou número do ticket"
               value="{{ query }}">
      </div>

      <div class="col s12 m3">
        <h6>Responsável</h6>
        {{ filter_form.responsavel }}
      </div>

      <div class="col s12 m3">
        <h6>Atendente</h6>
        {{ filter_form.atendente }}
      </div>
      {% endif %}
    </div>

    {% if request.path != '/ticket/my/' %}
    <div class="row">
      <div class="col s12 m4">
        <h6>Cliente</h6>
        {{ filter_form.cliente }}
      </div>
      <div class="col s12 m2">
        <h6>Tipo</h6>
        {{ filter_form.tipo }}
      </div>
      <div class="col s12 m2">
        <h6>Departamento</h6>
        {{ filter_form.departamento }}
      </div>
      <div class="col s12 m2">
        <h6>Prioridade</h6>
        {{ filter_form.prioridade }}
      </div>
      <div class="col s12 m2">
        <h6>Situação</h6>
        {{ filter_form.situacao }}
      </div>
    </div>

    <div class="row">
      <div class="col s12 left-align">
        <button type="submit" class="btn blue">Aplicar Filtros</button>
      </div>
    </div>
    {% endif %}

  </form>

  <div class="row">
    <div class="col s12 center">
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  {{ filter_form.media }}
  {% endblock %}
  <script>
document.addEventListener('DOMContentLoaded', function() {
  const input = document.getElementById('id_cliente');

  if (!input) return;

  M.Autocomplete.init(input, {
    data: {},
    minLength: 1,
    onAutocomplete: function() {}
  });

  input.addEventListener('keyup', function () {
    fetch("{% url 'clientes_autocomplete' %}?term=" + input.value)
      .then(response => response.json())
      .then(data => {
        M.Autocomplete.getInstance(input).updateData(data);
      });
  });
});
</script>
