<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if user.is_authenticated %}
    <style>
      header, main, footer {
        padding-left: 300px;
        transition: padding-left 0.3s;
      }

      @media only screen and (max-width: 992px) {
        header, main, footer {
          padding-left: 0px;
        }
      }

      @media only screen and (min-width: 993px) {
        .container {
          width: 80% !important;
        }
      }

      .sidenav-hidden header, .sidenav-hidden main, .sidenav-hidden footer {
        padding-left: 0 !important;
      }
    </style>
    {% endif %}
    <title>{% block title %}Sinos HelpDesk{% endblock title %}</title>
	
	{% block extra_css %}{% endblock extra_css %}
	
  </head>
  <body>
    <header>
      <div class="navbar black" >
    <nav class="black" >
          <div class="nav-wrapper">
         <a href="/" class="brand-logo" style="padding: 0 10px;">HelpWise</a>
            {% if user.is_authenticated %}
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="#" id="toggle-sidenav" class="right"><i class="material-icons">chevron_left</i></a>
        {% endif %}
      </div>	
    </nav>
      </div>
      {% if user.is_authenticated %}
    <ul id="slide-out" class="sidenav sidenav-fixed z-depth-1" style="height: 100%; transform: translateX(0%);">
      <li>
        <div class="user-view">
              <div class="background black">
        <img alt="" src="https://via.placeholder.com/300x200/00796b/00796b"/>
          </div>
        <img class="circle" alt="" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde"/>
          <span class="name white-text">{{ user.get_full_name  }}</span>
          <span class="email white-text">{{ user.email|default:"- - -" }}</span>
        </div>
      </li>
      <li><a href="{% url 'home' %}"><i class="material-icons center">dashboard</i><span class="show-on-small">Início</span></a></li>
      <li><a href="{% url 'cliente_list' %}"><i class="material-icons center">people</i><span class="show-on-small">Clientes</span></a></li>
      <li><a href="{% url 'cliente_create' %}"><i class="material-icons center">person_add</i><span class="show-on-small">Novo Cliente</span></a></li>
      <li><a href="{% url 'my_tickets' %}"><i class="material-icons center">assignment</i><span class="show-on-small">Meus Tickets</span></a></li>
      <li><a href="{% url 'open_tickets' %}"><i class="material-icons center">inbox</i><span class="show-on-small">Tickets Abertos</span></a></li>
      <li><a href="{% url 'inprogress_tickets' %}"><i class="material-icons center">assignment_ind</i><span class="show-on-small">Tickets em Atendimento</span></a></li>
      <li><a href="{% url 'closed_tickets' %}"><i class="material-icons center">assignment_turned_in</i><span class="show-on-small">Tickets Encerrados</span></a></li>
      <li><a href="{% url 'canceled_tickets' %}"><i class="material-icons center">event_busy</i><span class="show-on-small">Tickets Cancelados</span></a></li>
      <li><a href="{% url 'ticket_desenv' %}"><i class="material-icons center">code</i><span class="show-on-small">Tickets Desenvolvimento</span></a></li>
      <li><a href="{% url 'everyone_tickets' %}"><i class="material-icons center">article</i><span class="show-on-small">Todos Tickets</span></a></li>
      <li><div class="divider"></div></li>
      <li><a href="{% url 'new_ticket' %}"><i class="material-icons center">add</i><span class="show-on-small">Novo</span></a></li>
      <div class="center">
        <form  method="post" action="{% url 'logout' %}">{% csrf_token %}<button type="submit" class="btn">Logoff</button></form>
      </div>
    </ul>
    {% endif %}
  </header>
  <main>
    <div class="container" style="margin-top: 20px;">
      {% block content %}
      {% endblock content %}
    </div>
  </main>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    M.AutoInit();

    document.getElementById('toggle-sidenav').addEventListener('click', function() {
      var body = document.body;
      var sidenav = document.getElementById('slide-out');
      if (body.classList.contains('sidenav-hidden')) {
        body.classList.remove('sidenav-hidden');
        sidenav.style.transform = 'translateX(0%)';
      } else {
        body.classList.add('sidenav-hidden');
        sidenav.style.transform = 'translateX(-100%)';
      }
    });
  </script>
  <script>
    const socket = new WebSocket("ws://" + window.location.host + "/ws/notifications/");

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const notificationArea = document.getElementById("notification-area");
        const newNotification = document.createElement("p");
        newNotification.textContent = data.message;
        notificationArea.appendChild(newNotification);
    };
  </script>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    M.Materialbox.init(elems, {});
  });
</script>
  {% block extra_js %}{% endblock extra_js %}
  </body>
</html>